{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}This is a filter{% endblock %}

{% block content %}
{{ wtf.quick_form(form, method='post', enctype="multipart/form-data",action="imgfilter" )}}

<h2>Image is here: </h2>
<!-- отображаем загруженное изображение с закругленными углами -->
<!-- если оно есть (после submit) -->
{% if image_name %}
    <p>{{image_name}}
    <p><img src={{image_name}} class="img-rounded" alt="My Image" width = 224 height=224 />
{% else %}
    <p> There is no image yet </p>
{% endif %}

{% endblock %}
